
/*for Main Form*/
#capitalize {
 text-transform: capitalize;
}

#container{

	
}


form{
	display: inline-block;
	vertical-align: top;
	border:solid;
	border-color: black;
	width: 400px;
	height:300px;
	margin-left: 100px;

	}


.form_row {
	margin-top: 5px;
	display: flex;
}

.form_row label {
  display: inline-block;
  width: 75px;
  margin-right:10px;
  flex:1;
}

.form_row input{
	flex:6;
	
}

.form_row select{
flex:1;
margin-left: 10px;

}
#password_notice{
	font-size: 10px;
}
input{
	max-height: 15px;
	max-width: 200px;
}

#register{
	max-height: 30px;
	max-width: 100px;
	margin-left: 173px;
}


/*For Rows*/

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr {
	    border: solid;
    border-color: black;
}

tr:nth-child(odd) {
    background-color: #dddddd;
}
td, button{
	margin-left: 9px;
}